.navbar {
    padding: 0.5rem;
    padding-left: 8rem;
    background-color: black;

    a {
        text-decoration: none;

        &:hover {
            color: lighten(#4c3a8d, 30%);
        }
    }
}