@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

@import './base/base';

body{
    background-image: linear-gradient(45deg,#4c3a8d , lighten(#4c3a8d, 30%));
    background-size: cover;
    height: 100vh;
}

@import './components/logo-button';
@import './components/navbar';
@import './components/menu';
@import './components/login-signup.scss';
