/* Base Styles */

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}